### Java ###
# Compiled class file
*.class


### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders


### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
HELP.md


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
mvnw
mvnw.cmd
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/


### MAC OS ###
.DS_Store