.main-container {
	position: absolute;
	top: 15%;
	left: 20%;
	width: 30%;
	height: 70%;
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	width: 100%;
	display: inline-flex;
	flex-flow: row;
	border-bottom: solid var(--darck-color);
	justify-content: center;
	align-items: center;
	text-indent: 30px;
	font-weight: bold;
	background: url("../img/account.png");
	background-repeat: no-repeat;
	background-position: 40% 50%;
	background-size: 30px 30px;
}

.go-back-btn {
	position: absolute;
	left: 1%;
	height: 30px;
	width: 30px;
	margin: 0;
	border-radius: 15px;
	border-style: none;
	text-align: center;
	font-family: "Calibri";
	font-weight: bolder;
	font-size: 20px;
	background: transparent;
}

.go-back-btn:hover {
	background: var(--medium-color);
}

.form-container {
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	height: 83%;
	border-style: solid;
	border-width: 1px;
	border-color: var(--darck-color);
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
}

.form-el,
.save-btn {
	-webkit-appearance: none;
	appearance: none;
	align-self: center;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	padding: 8px 16px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.form-el {
	color: var(--darck-color);
	background-color:white;
	border: 2px solid var(--darck-color);
	padding: 8px 16px;	
	box-shadow: none;
}

.form-el:placeholder {
	color: var(--darck-color);
} 

.form-el:focus {
	outline: none;

} 

.error-msg {
	margin-bottom: 20px;
	text-align: center;
	font-style: italic;
}

.save-btn {
	background-color: var(--medium-color);
	color: white;
	border: 2px solid white;
	transition-duration: 0.2s;
}

.save-btn:hover {
	background-color: var(--darck-color);
	color: white;

}

.save-btn:active {
  transform: translateY(2px);
}

