<!DOCTYPE HTML>
<html lang="en">

	<head>
		<title>MedExpert</title>
		
		<!-- Reference the CSS file -->
		<link rel="stylesheet" href="/css/global-style.css">
		<link rel="stylesheet" href="/css/index-style.css">

	<body>
		<div class="background">
			<div class="greeting-container">
				<h3>Welcome to</h3>
				<h1>MedExpert</h1>
				<h3>The place where medicine meets professionalism</h3>
				
				<br><br>
				
				<button class="my-button" onclick="location.href='/home'">Visit us as a guest</button>
				<button class="my-button" onclick="location.href='/login'">Log in</button>
				<button class="my-button" onclick="location.href='/register'">Register</button>
			</div>
		</div>
	</body>
	
</html>